*.db
*.db-journal
*.out
*.json
*.log

*.png
*.jpg

*.pkl
*.pt
*.bin
*.csv

**/.ipynb_checkpoints
**/__pycache__
**/.vscode
**/runs
**/data
**/.cache
**/ENV
**/v3-qg/qg_utils
**/out

**/check_point
**/checkpoint
**/wandb
**/logs
**/results
core.*

**/sh
run*.sh
start.sh